@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Yusei+Magic&display=swap');

body {
  margin: 5rem;
  font-family: 'Yusei Magic', sans-serif;;
}
header {
  background-color: grey;
}
h1 {
  font-family: 'Crimson Text', serif;
}
img{float:right}
footer {
  text-align: center;
  background-color: grey;
}
#currentdate {color: rgba(50,50,250,1);}
