margin-top: 1rem;
}

#grid_second div {
  margin-bottom: 1rem;
  min-height: 100px;
#flex_second li.form-row {
  display: flex;
  flex-direction: column;
}

#flex_second fieldset {
  display: flex;
  flex-direction: column;
}
#grid_second > div.box9.white_rounded {
  margin-bottom: 0rem;

#grid_first {
  display: grid;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
}

#grid_second {
  display: grid;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
}

#grid_second > div {
  min-height: 100px;
}

#grid_second .box9 {
  display: flex;
}

@media only screen and (max-width: 599px) {
  body {
  /* body {
    background-color: red;
  } */

  #grid_first {
    grid-template-columns: 1fr;
  }

  #flex_second li.form-row {
    display: flex;
    flex-direction: column;
  #grid_second {
    grid-template-columns: 1fr;
  }

  #flex_second fieldset {
    display: flex;
  #grid_second .box9 {
    flex-direction: column;
  }
}

  #grid_first {
    display: grid;
  }
@media only screen and (min-width: 600px) and (max-width: 1199px) {
  /* body {
    background-color: green;
  } */

  #grid_first article {
    margin-bottom: 1rem;
  #grid_first {
    grid-template-columns: repeat(2, 1fr);
  }

  #grid_first > article:nth-child(8) {
    margin-bottom: 0rem;
  }
  #grid_second {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }

  #grid_second .box9 {
    flex-direction: column;
  #grid_second .box1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1199px) {
  body {
    background-color: green;
  #grid_second .box9 {
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
  }
}

@media only screen and (min-width: 1200px) {
  body {
  /* body {
    background-color: blue;
  } */

  #grid_first {
    grid-template-columns: repeat(4, 1fr);
  }

  #grid_second {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  #grid_second .box1 {
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
  }

  #grid_second .box9 {
    align-items: center;
    justify-content: center;
    flex-flow: nowrap;
  }
}