* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 62.5%;
  font-weight: bold;
}

ul {
  padding-left: 0;
}

/**************************************/

/* .blue_rounded {
  border: 2px solid #26607F;
  border-radius: 0.5rem;
  background-color: #0076b6;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem;
  padding: 1rem;
}

.white_rounded {
  border: 2px solid #26607F;
  border-radius: 0.5rem;
  background-color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 1rem;
  width: 100%;
} */

/**************************************/

#flex_first {
  width: 80vw;
  height: 20vh;
  min-height: 15rem;
}

.center_list {
  width:auto;
  list-style-position: inside;
}

/**************************************/

#flex_second_wrapper{
  list-style-type: none;
}

.form-row,
.form-row > * {
  padding: 0.5rem;
}

.form-row > fieldset {
  background-color: #fff;
}

.form-row > button {
  width:auto;
  margin: 0.5rem;
}

/**************************************/

.placeholder_image {
  background-color: #26607F;
  height: 10rem;
}

/**************************************/

.flex_div {
  color: #fff;
}



/*

========================Beggining of group code==========================

*/

body {
  margin-top: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

.blue_rounded {
  border: 2px solid #26607F;
  border-radius: 1rem;
  background-color: #0076b6;
  font-size: 2rem;
  font-weight: bold;
  margin: 1rem;
  padding: 1em;
}

.white_rounded {
  margin: 1em 0;
  border: 2px solid #26607F;
  border-radius: 1rem;
  background-color: #fff;
  font-size: 2rem;
  font-weight: bold;
  padding: 1rem;
}
#flex_first {
  border-radius: 1em;;
  display : flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 1em;
  height: 25vh;
}
.center_list {
  border-radius: 0.5em;
  font-size: 2.5rem;
}

#flex_second li.form-row {
  display: flex;
  flex-direction: column;
}

#flex_second fieldset {
  display: flex;
  flex-direction: column;
}
#flex_second_wrapper li input {
  height : 4rem;
}
#address {
  height: 15em;
}
#color {
  height: 5em;
  border-radius: 1em;
}
article.expample_article, .white_rounded {
  padding: 1em;
}
.placeholder_image {
  height: 22rem;
}

/* #grid_second:nth-child(1):nth-last-child(n+7) { */
.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8 {
  height: 12rem;
}
.box9{
  height: fit-content;
}
.box9 .blue_rounded{
  margin: 2em;
}
/*
#grid_first {
  display: grid;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
}
#grid_second div {
  margin-bottom: 1rem;
  min-height: 100px;
}
#grid_second > div.box9.white_rounded {
margin-bottom: 0rem;
}

#grid_second {
  display: grid;
  grid-row-gap: 1rem;
  grid-column-gap: 1rem;
}

#grid_second > div {
  min-height: 100px;
}

#grid_second .box9 {
  display: flex;
}

/* @media only screen and (max-width: 599px) {
  body {
    background-color: red;
  } 

  #grid_first {
    grid-template-columns: 1fr;
  }

  #flex_second li.form-row {
    display: flex;
    flex-direction: column;
  }
  #grid_second {
    grid-template-columns: 1fr;
  }

  #flex_second fieldset {
    display: flex;}
    
  #grid_second .box9 {
    flex-direction: column;
  }

  #grid_first {
    display: grid;
  }
@media only screen and (min-width: 600px) and (max-width: 1199px) {
  body {
    background-color: green;
  }

  #grid_first article {
    margin-bottom: 1rem;
  }
  #grid_first {
    grid-template-columns: repeat(2, 1fr);
  }

  #grid_first > article:nth-child(8) {
    margin-bottom: 0rem;
  }
  #grid_second {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }

  #grid_second .box9 {
    flex-direction: column;
  }

  #grid_second .box1 {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }
}

@media only screen and (min-width: 600px) and (max-width: 1199px) {
  body {
    background-color: green;
  }
  #grid_second .box9 {
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    background-color: blue;
  }

  #grid_first {
    grid-template-columns: repeat(4, 1fr);
  }

  #grid_second {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  #grid_second .box1 {
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
  }

  #grid_second .box9 {
    align-items: center;
    justify-content: center;
    flex-flow: nowrap;
  }
}
} */
