@media (min-width: 60em) {

    header, main{
      font-size: 1.7rem;
    }
    nav {
        font-size: 1.7rem;
    }
    h1, h2, h3, h4 p{
        font-size: 2rem;
        text-align: left;
    }

    .navigation li a{
        padding: 8px;
    }


    form label.sbs {
        padding: .4rem 0;
    }


    
    footer {
        margin-top: initial;
        font-size: 1.5rem;
    }

    
}