@media (min-width: 60em) {

    header, main{
      font-size: 1.7rem;
    }
    nav {
        font-size: 1.7rem;
    }
    h1, h2, h3, h4 p{
        font-size: 2rem;
        text-align: left;
    }

    .navigation li a{
        padding: 8px;
    }
    footer {
        margin-top: initial;
        font-size: 1.5rem;
    }

    /* === Gallery Page === */
    .set-of-images {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 10px;
        
    }
    picture {
        grid-column: auto;
        width: 100%;
    }
    .shadow:hover {
        box-shadow: 0 0 50px #333;
    }
}