// variables for the palette of color

$color1:#0000;
$color2:#404040;
$color3:#202020;
$color4:#e0e0e0;
$color5:#808080;
$gradient-color: linear-gradient(to right top, #292a2c, #4c5052, #737a7a, #9fa6a2, #d1d3cc);