@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Rajdhani&display=swap');

body {
    font-family: "Merriweather", serif;
    width: 100%;
}

main, footer{
  display: block;
  max-width: 900px;
  margin: 1rem auto;
}

img {
  width: 100%;
}
p{
  font-family: 'Rajdhani', sans-serif;
}
h1, h2, h3, h4{
  text-align: center;
}
header,
footer {
  background-color: #50514f;
  color: white;
}
header {
    display: flex;
    justify-items: center;
    align-content: center;
    max-width:100%;
}
.logo {
  width: 15em;
}
.heading {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-content: center;
    padding: 5px 0;

}
header h1{
    padding-left: 25px;
    margin-top: 64px;
    margin-bottom: 0;
}

.motto{
    padding-left: 25px;
}
/* ===============Main=============== */

.hero-placeholder {
  position:relative;
  
}
.weather-summary {
  position: absolute;
  font-size: 70%;
  top: 10px;
  left: 20px;
  background: radial-gradient(white, skyblue);
  border: 1px solid white;
  width: 200px ;
  padding: .9rem;
  box-shadow: 0 0 30px #777;
}
.weather-summary h3 {
  font-size: 100%;
  text-align: center;
}

.full-forecast {
  display: none;
}

.article {
  display: block;  
  align-content: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 25px;
  margin-top: 40px;
}

#girl-street {
  margin: 1rem auto;
  width: 50%;
  max-width: 250px;
  box-shadow: 0 0 10px #222;
}
/* ================footer================ */
.contact-info img {
  display: none;
}
.contact-info section img {
  display: inline-flex;
  flex-direction: row;
  width: 1.5rem;
}

footer {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 5px;
  font-size: 0.9rem;
}
footer div:nth-child(2) {
  padding-top: 10px;
}
/* ======== Nav ======= */
.navigation {
  display: block;
  text-align: center;
  background-color: black;
  padding: 2px;
  margin: 0;
}

.navigation li:first-child{
  display: block;
}
.navigation li{
  display:none;
}
.responsive li {
  display:block;
  padding: 4px;
}

.navigation li a{
  display: block;
  text-decoration-line: none;
  color:white;
}
.navigation li a:hover {
  background-color: skyblue;
  color: yellow;
}


