@media (min-width: 60em) {

    /* =============== Header =============== */
    #logo {
        width: 150px;
    }

        /* =============== Main =============== */

        .full-forecast {
            margin: 100px 15px;
            grid-column: 3 / 4;
            grid-row: 1 / 2;
          }
        /* ||=============== Directory ===============|| */

        .cards section {
            font-size: 1em;
        }
        .cards.gridStyle {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }
        .cards.gridStyle.listStyle {
            display: inline;
            background-color: white;
        }

}