@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@600&family=Poppins:ital,wght@1,800&display=swap');

body {
    display:grid;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Inconsolata', monospace;
}
